/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* import css definitions for current theme */
@import url("theme.css");

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
	70% {
		color: @text;
	}

	to {
		color: @text;
		background-color: @warning;
	}
}

@keyframes blink-critical {
	70% {
	  color: @text;
	}

	to {
		color: @text;
		background-color: @error;
	}
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	font-family: "RobotoMono", sans-serif;
}

/* The whole bar */
#waybar {
	background: @bg;
	opacity: 0.80;
	color: @text;
	font-size: 15px;
}

/* Each module */
#custom-pacman,
#custom-menu,
#custom-help,
#custom-scratchpad,
#custom-sunset,
#custom-screencast,
#custom-playerctl,
#language,
#bluetooth,
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#idle_inhibitor,
#backlight,
#tray {
	background: @bg_dark;
	padding-left: 9px;
	padding-right: 9px;
}

/* -----------------------------------------------------------------------------
 * EX
 * -------------------------------------------------------------------------- */

#custom-right-arrow, #custom-left-arrow {
	color: @bg_dark;
	font-size: 26px;
	opacity: 1;
}

/* -----------------------------------------------------------------------------
 * user
 * -------------------------------------------------------------------------- */

#custom-screencast {
	color: @error;
}

#custom-playerctl {
	font-size: 16px;
}

#custom-menu {
    color: inherit;
	background-color: @accent;
}

#custom-scratchpad {
    color: inherit;
	background-color: @accent;
}

#custom-scratchpad {
	background-color: @accent;
}

#custom-pacman {
	color: @warning;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#mode {
	background: @bg;
}

#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.warning {
	color: @warning;
}

#battery.critical {
	color: @error;
}

#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}

#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

#clock {
	font-weight: bold;
   /* background-color: @accent;*/
}

#cpu.warning {
	color: @warning;
}

#cpu.critical {
	color: @error;
}

#memory {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#memory.warning {
	color: @warning;
}

#memory.critical {
	color: @error;
	animation-name: blink-critical;
	animation-duration: 2s;
}

#network {
	padding-right: 2px;
}

#network.disconnected {
	color: @warning;
}

#pulseaudio.muted {
	/* No styles */
	color: @warning;
}

#temperature.critical {
	color: @error;
}

#window {
	font-weight: bold;
	margin-right: 25px;
	color: @accent;
}

#workspaces button {
	/* To compensate for the top border and still have vertical centering */
	/*padding-bottom: 2px;*/
	padding-left: 5px;
	padding-right: 5px;
	color: @accent;
	border-top: 2px solid transparent;
}

#workspaces button.focused {
	border-color: @accent;
	color: @text;
	background-color: @accent;
}

#workspaces button.urgent {
	border-color: @error;
	color: @error;
}

#bluetooth.on, #bluetooth.connected {
	color: @warning;
}


/* -----------------------------------------------------------------------------
 * Sys styles
 * -------------------------------------------------------------------------- */

/*
button {
    border: none;
}

button:hover {
    background: inherit;
}

button:disabled,*/
label:disabled {
    color: inherit;
}