/* import css definitions for current theme */
@import url("./theme.css");

#outer-box {
  /*border: 1px solid @accent_color;
  border-radius: 10px;*/
}

#input {
  border: none;
  border-radius: 10px;
  margin: 10px;
}

#img {
  padding-left: 10px;
  padding-right: 10px;
}

#text {
  margin-left:1em;	
}

window {
  color: @text_color;
  border-radius: 10px;
  opacity: 0.85;
}
